@layer base {
  :root {
    --ch-0: light;
    --ch-1: theme(colors.gray.500);
    --ch-2: theme(colors.blue.800);
    --ch-3: theme(colors.orange.800);
    --ch-4: theme(colors.neutral.800);
    --ch-5: theme(colors.purple.600);
    --ch-6: theme(colors.green.700);
    --ch-7: theme(colors.red.600);
    --ch-8: theme(colors.blue.950);
    --ch-9: theme(colors.red.800);
    --ch-10: theme(colors.gray.50);
    --ch-11: theme(colors.red.50);
    --ch-12: theme(colors.green.50);
    --ch-13: theme(colors.orange.100);
    --ch-14: theme(colors.gray.100);
    --ch-15: theme(colors.slate.500);
    --ch-16: theme(colors.white);
    --ch-17: theme(colors.slate.200 / 0.5);
    --ch-18: theme(colors.yellow.200 / 0.2);
    --ch-19: theme(colors.blue.500);
    --ch-20: theme(colors.sky.200);
    --ch-21: theme(colors.blue.700);
    --ch-22: theme(colors.gray.50);
    --ch-23: theme(colors.gray.300);
    --ch-24: theme(colors.gray.400);
    --ch-25: theme(colors.gray.300 / 0.2);
    --ch-26: theme(colors.white / 0.9);

    /* Syntax Highlighting Colors (Light Mode) */
    --token-null: theme(colors.black);
    --token-operator: theme(colors.black);
    --token-boolean: theme(colors.black);
    --token-number: theme(colors.black);
    --token-property: theme(colors.yellow.500);
    --token-tag: theme(colors.orange.500);
    --token-punctuation: theme(colors.black);
    --token-template-string: theme(colors.cyan.400);
    --token-script: theme(colors.orange.300);
    --token-selector: theme(colors.pink.500);
    --token-attr-name: theme(colors.purple.400);
    --token-attr-value: theme(colors.green.600);
    --token-function-variable: theme(colors.purple.400);
    --token-black: theme(colors.black);
  }

  .dark {
    --ch-0: dark;
    --ch-1: theme(colors.gray.400);
    --ch-2: theme(colors.blue.300);
    --ch-3: theme(colors.orange.400);
    --ch-4: theme(colors.gray.200);
    --ch-5: theme(colors.purple.300);
    --ch-6: theme(colors.green.400);
    --ch-7: theme(colors.red.400);
    --ch-8: theme(colors.blue.300);
    --ch-9: theme(colors.red.300);
    --ch-10: theme(colors.blue.50);
    --ch-11: theme(colors.red.900);
    --ch-12: theme(colors.green.900);
    --ch-13: theme(colors.orange.900);
    --ch-14: theme(colors.gray.900);
    --ch-15: theme(colors.gray.400);
    --ch-16: theme(colors.gray.950);
    --ch-17: theme(colors.gray.800 / 0.1);
    --ch-18: theme(colors.white / 0.04);
    --ch-19: theme(colors.blue.500);
    --ch-20: theme(colors.cyan.800);
    --ch-21: theme(colors.blue.600);
    --ch-22: theme(colors.neutral.900);
    --ch-23: theme(colors.neutral.700);
    --ch-24: theme(colors.gray.500);
    --ch-25: theme(colors.gray.500 / 0.4);
    --ch-26: theme(colors.neutral.900 / 0.9);

    /* Syntax Highlighting Colors (Dark Mode) */
    --token-null: theme(colors.white);
    --token-operator: theme(colors.white);
    --token-boolean: theme(colors.white);
    --token-number: theme(colors.white);
    --token-property: theme(colors.yellow.500);
    --token-tag: theme(colors.blue.300);
    --token-punctuation: theme(colors.white);
    --token-template-string: theme(colors.cyan.400);
    --token-script: theme(colors.orange.300);
    --token-selector: theme(colors.pink.500);
    --token-attr-name: theme(colors.purple.400);
    --token-attr-value: theme(colors.blue.400);
    --token-function-variable: theme(colors.purple.400);
    --token-black: theme(colors.white);
  }
}